.years
{
	list-style-type:none;
	padding:0px;
}
.years li
{
	display:inline;
	padding-left:15px;
}
#galery_year, #galery_year_etap
{
	list-style-type:none;
	padding:0px;
}
#galery_year li, #galery_year_etap li
{
	display:inline;
	padding-left:15px;
}
#galery_year_class
{
	list-style-type:none;
	padding:0px;
}
#galery_year_class a, #photo_report a
{
	display:block;
	float:left;
	text-decoration:none;
	/*min-height:270px;
	width:150px;
	padding:5px; 
	margin:5px; 
	*/
}
#galery_year_class a span, #photo_report a span
{
	text-align:center;
	color: #000000;
	font-size: 0.8em;
}
#galery_year_class a img, #photo_report a img 
{
	border-radius:10px;
}