body {
    background-color: #f2f4f5 !important;
}

a {
    color: #0033cc !important;
    transition: color 0.2s;
}

a:hover {
    color: #ec3a3a !important;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.section-header {
        font-family: 'TTBackwards', sans-serif;
        font-weight: 400;
        font-size: 50px;
        position: relative;
        width: 85%;
        text-align: center;
        bottom: -48px;
        color: #0033cc;
    }
    
    @media screen and (max-width: 960px) {
        .section-header {
            font-size: 18vw;
            width: 100%;
            bottom: -32px;
        }
    }